/*
  ==============================
  Resets
  ==============================
*/
body {
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #e3fcef;
  background: linear-gradient(165deg, #abf5d1, #e3fcef);
  color: #253858;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
p > a,
p > a:hover,
p > a:visited {
  color: #2684ff;
}
p > code {
  white-space: nowrap;
}
p,
ul,
ol {
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5 {
  color: #091e42;
}
h6 {
  color: #777;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  outline: 0;
  text-decoration: underline;
}

/*
  ==============================
  Misc.
  ==============================
*/

header {
  margin-bottom: 2em;
}
footer {
  margin-top: 2em;
}
.icon {
  font-size: 64px;
  height: 64px;
  line-height: 64px;
  margin: 0 auto 0.5em;
  position: relative;
  width: 64px;
}
h1 {
  display: inline;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.025em;
  margin: 0;
}
code {
  background-color: rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  color: #091e42;
  display: inline-block;
  font-family: 'Monaco', monospace;
  font-size: 0.85em;
  line-height: 1.4;
  padding: 1px 5px;
}

/*
  ==============================
  BIG BUTTON
  ==============================
*/
button {
  -ms-touch-action: manipulation; /* IE10  */
  touch-action: manipulation;
  align-items: center;
  background-color: white;
  background: linear-gradient(to bottom, white, #fafbfc);
  border-radius: 5px;
  border: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: 500;
  justify-content: center;
  outline: 0;
  padding: 20px;
  position: relative;
  width: 100%;
}
button:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.1);
  transform: scale(1.01);
}
button:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.1);
  transform: scale(0.99);
}

/*
  ==============================
  Animation
  ==============================
*/
@keyframes dropIn {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -1666px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 26px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 6px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.animate-dropin {
  animation: dropIn 0.66s;
}
